* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



@media (max-width:500px){
    #bg-video video{
          transform: scale(2);
      }
    
      body {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        
      }
    
      #main-screen {
        /* background-color: blueviolet; */
        height: auto !important;
        width: 100% !important;
        align-items: flex-end;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
      }
    
      #game-display-1 {
    
        margin: 0px !important;
        height: 100vh;
        backdrop-filter: blur(px) brightness(0.6) !important;
        width: 100% !important;
      }

      
    
      h1{
        font-size: 40px !important;
        padding: 5px !important;
      }
    
   

      #game-container-1{
        margin: 50px;
        height: auto !important;
        width: 100% !important;
      }

      #game-container-2{
        margin: 50px;
        height: auto !important;
        width: 100% !important;
      }

      #easyMode, #hardMode{
        font-size: 20px !important;
        font-weight: 500;
        width: auto !important;
        padding: 15px !important;
    }

      #easyMode {
        background-color: rgb(163 31 237)!important;  
      }

      #hardMode {
        background-color: rgb(83 6 167) !important;  
      }
}


#bg-video {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

#myVideo {
  height: auto;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translateY(-100px);
}

#main-screen {
  /* background-color: blueviolet; */
  height: 100vh;
  width: 100%;
  box-shadow: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#game-display-1 {
  color: white;
  backdrop-filter: blur(10px) brightness(0.2);
  background: transparent;
  box-shadow: 0px 0px 20px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  margin: 50px;
  height: 100vh;
  width: 50%;
}

#game-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1 {
  padding: 50px;
  font-size: 40px;
  text-align: center;
}

#easyMode {
  background-color: rgb(149 50 74);
  color: white;
  cursor: pointer;
}
#hardMode {
  background: rgb(153 0 45);
  color: white;
  cursor: pointer;
}

#easyMode,
#hardMode {
  font-size: 20px;
  padding: 20px;
  width: 60%;
  text-align: center;
  margin: 20px;
  outline: none;
  border: 0px;
  transition: 0.6s ease-in-out;
}

#easyMode:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#hardMode:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#game-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

#userGuess {
  padding: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

#game-container-2 h2 {
  font-size: 20px;
}

#result {
  font-size: 40px;
  text-align: center;
  margin: 50px;
  font-weight: 700;
  color: green;
}

#try-again {
  color: white;
  box-shadow: 0px 0px 20px 0px black;
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
  transition: 0.6s ease-in-out;
  display: none;
  justify-content: center;
}

#try-again:hover {
  background: white;
  color: black;
}

#game-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
